<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TimetableContext" connectionString="metadata=res://*/DbTimetable.csdl|res://*/DbTimetable.ssdl|res://*/DbTimetable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Timetable;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>